doctype html
head
  meta(charset='utf-8')
  title N&abreve;m m&#x1EDB;i &ndash; H&#x1ECD;c ng&ocirc;n ng&#x1EEF; m&#x1EDB;i, 8 c&aacute;ch &dstrok;&#x1EC3; th&#x1EF1;c hi&#x1EC7;n &dstrok;i&#x1EC1;u &dstrok;&oacute;
  meta(content='Chernyh Mihail' name='author')
  meta(content='Spedito - All in one place' name='description')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name='HandheldFriendly' content='true')
  meta(name='format-detection' content='telephone=no')
  meta(content='IE=edge' http-equiv='X-UA-Compatible')
  link(rel='shortcut icon' href='assets/img/logoW.png' type='image/x-icon')
  link(rel='stylesheet' href='assets/css/uikit.min.css')
  link(rel='stylesheet' href='assets/css/main.css')
  link(rel='stylesheet' href='assets/css/dropdown.css')
  link#dm-light(rel='stylesheet' href='assets/css/light.css')
// Loader
#page-preloader
  span.spinner.border-t_second_b.border-t_prim_a
// Loader end
.page-wrapper
  header.page-header
    .page-header__top
      .uk-container
        nav.uk-navbar-container.uk-navbar-transparent(data-uk-navbar='')
          .uk-navbar-left
            button.uk-button(type='button' data-target='#offcanvas' data-uk-toggle='' data-uk-icon='menu')
            ul.uk-navbar-nav
              li
                a(href='/home') TRANG CH&#x1EE6;
              li
                a(href='/catalog') KH&Oacute;A H&#x1ECC;C
              li
                a(href='/branch') CHI NH&Aacute;NH
          .uk-navbar-center
            .logo
              .logo__box
                a(href='/home')
                  img.logo__img.logo__img--full(src='assets/img/logo.png' alt='logo')
          .uk-navbar-right
            ul.uk-navbar-nav
              li
                a(href='/home#about_us') V&#x1EC0; CH&Uacute;NG T&Ocirc;I
              li
                a(href='/blog') TIN T&#x1EE8;C
              li
                a(href='/contact') LI&Ecirc;N H&#x1EC6;
    .page-header__bottom
      .uk-container
        .uk-navbar-container.uk-navbar-transparent(data-uk-navbar='')
          .uk-navbar-left
            div
              .block-with-phone
                img(src='assets/img/icons/delivery.svg' alt='delivery' data-uk-svg='')
                div
                  span Li&ecirc;n h&#x1EC7; ngay v&#x1EDB;i ch&uacute;ng t&ocirc;i
                  a(href='tel:13205448749') 0394143031
          .uk-navbar-center
          .uk-navbar-right
            .other-links
              ul.other-links-list
                li
                  a(href='#modal-full' data-uk-toggle='')
                    span(data-uk-icon='search')
                li
                  a(href='/login')
                    span(data-uk-icon='user')
                li
                  a(href='#')
                    span(data-uk-icon='cart')
  main.page-main
    .section-first-screen
      .first-screen__bg(style='background-image: url(assets/img/pages/contacts/bg12.jpg)')
      .first-screen__content
        .uk-container
          nav.category-nav
            nav.uk-navbar-container.uk-navbar-transparent(data-uk-navbar='')
              ul.uk-navbar-nav
                li
                  a(href='/catalog')
                    .nav-item
                      span.nav-item__icon
                        img(src='assets/img/icons/menu/thieunhi.png' alt='face care' data-uk-svg='')
                      span.nav-item__text Kh&oacute;a thi&#x1EBF;u nhi
                li
                  a(href='/catalog')
                    .nav-item
                      span.nav-item__icon
                        img(src='assets/img/icons/menu/thieunien.png' alt='hair care' data-uk-svg='')
                      span.nav-item__text Kh&oacute;a thi&#x1EBF;u ni&ecirc;n
                li
                  a(href='/catalog')
                    .nav-item
                      span.nav-item__icon
                        img(src='assets/img/icons/menu/onthi.png' alt='lips care' data-uk-svg='')
                      span.nav-item__text Kh&oacute;a &ocirc;n thi
                li
                  a(href='/catalog')
                    .nav-item
                      span.nav-item__icon
                        img(src='assets/img/icons/menu/kynang.png' alt='body care' data-uk-svg='')
                      span.nav-item__text Kh&oacute;a k&#x1EF9; n&abreve;ng
          .first-screen__box
            h2.first-screen__title Latest News
            .first-screen__breadcrumb
              ul.uk-breadcrumb
                li
                  a(href='/home') Home
                li
                  span News Blog
                li
                  span Full post
    .page-content
      .uk-margin-large-top.uk-container.uk-container-small
        article.article-full
          .article-full__info
            .article-full__author
              i.fas.fa-user
              span By Isabelle
            .article-full__category
              i.fas.fa-folder-open
              span Posted in Event
            .article-full__date
              i.fas.fa-calendar-alt
              span Jan 22, 2021
            .article-full__comments
              i.fas.fa-comment
              span 10
          .article-full__image
            a(href='/page-blog-article.html')
              img(src='assets/img/blog/eng-blog-prev-1.jpg' alt='img-article')
          .article-full__content
            h1 N&abreve;m m&#x1EDB;i &ndash; H&#x1ECD;c ng&ocirc;n ng&#x1EEF; m&#x1EDB;i, 8 c&aacute;ch &dstrok;&#x1EC3; th&#x1EF1;c hi&#x1EC7;n &dstrok;i&#x1EC1;u &dstrok;&oacute;
            p
              | N&#x1EBF;u b&#x1EA1;n c&#x1EA7;n ngu&#x1ED3;n c&#x1EA3;m h&#x1EE9;ng cho nh&#x1EEF;ng m&#x1EE5;c ti&ecirc;u ho&agrave;n h&#x1EA3;o &dstrok;&#x1EC3; khi&#x1EBF;n n&abreve;m nay c&#x1EE7;a b&#x1EA1;n tr&#x1EDF; th&agrave;nh n&abreve;m tuy&#x1EC7;t v&#x1EDD;i nh&#x1EA5;t, b&#x1EA1;n &dstrok;&atilde; &dstrok;&#x1EBF;n &dstrok;&uacute;ng ch&#x1ED7; r&#x1ED3;i &dstrok;&#x1EA5;y: h&#x1ECD;c m&#x1ED9;t ng&ocirc;n ng&#x1EEF; m&#x1EDB;i n&ecirc;n tr&#x1EDF; th&agrave;nh m&#x1EE5;c ti&ecirc;u c&#x1EE7;a b&#x1EA1;n trong n&abreve;m m&#x1EDB;i. V&igrave; sao v&#x1EAD;y? &Dstrok;&#x1A1;n gi&#x1EA3;n
              | v&igrave; n&oacute; mang l&#x1EA1;i cho b&#x1EA1;n s&#x1EF1; t&#x1EF1; tin, tr&iacute; nh&#x1EDB; c&#x1EE7;a b&#x1EA1;n s&#x1EBD; &dstrok;&#x1EA1;t t&#x1EDB;i tr&igrave;nh &dstrok;&#x1ED9; cao h&#x1A1;n, &dstrok;i du l&#x1ECB;ch s&#x1EBD; tr&#x1EDF; n&ecirc;n vui v&#x1EBB; g&#x1EA5;p b&#x1ED9;i ph&#x1EA7;n, v&agrave; cu&#x1ED1;i c&ugrave;ng kh&ocirc;ng th&#x1EC3; kh&ocirc;ng nh&#x1EAF;c t&#x1EDB;i l&agrave; b&#x1EA1;n s&#x1EBD; tr&#x1EDF; th&agrave;nh m&#x1ED9;t &#x1EE9;ng vi&ecirc;n tuy&#x1EC3;n d&#x1EE5;ng &dstrok;&aacute;ng gi&aacute; v&agrave; th&#x1EAD;m
              | ch&iacute; c&oacute; th&#x1EC3; ki&#x1EBF;m nhi&#x1EC1;u ti&#x1EC1;n h&#x1A1;n. &Dstrok;i&#x1EC1;u &dstrok;&oacute; nghe nh&#x1B0; m&#x1ED9;t c&uacute; ghi &dstrok;i&#x1EC3;m ngo&#x1EA1;n m&#x1EE5;c cho nh&#x1EEF;ng m&#x1EE5;c ti&ecirc;u c&#x1EE7;a N&abreve;m M&#x1EDB;i, ph&#x1EA3;i kh&ocirc;ng? &Dstrok;&#x1EC3; ch&#x1EAF;c ch&#x1EAF;n m&#x1ECD;i vi&#x1EC7;c &dstrok;&#x1EC1;u di&#x1EC5;n ra su&ocirc;n s&#x1EBB;, sau &dstrok;&acirc;y l&agrave; m&#x1ED9;t s&#x1ED1; l&#x1EDD;i khuy&ecirc;n d&agrave;nh cho b&#x1EA1;n sau khi b&#x1EA1;n &dstrok;&atilde;
              | h&abreve;ng h&aacute;i l&#x1EF1;a ch&#x1ECD;n &dstrok;&#x1B0;&#x1EE3;c m&#x1ED9;t ng&ocirc;n ng&#x1EEF; &dstrok;&#x1EC3; h&#x1ECD;c.
            h3 1. H&atilde;y th&#x1EF1;c t&#x1EBF;
            img(src='assets/img/blog/eng-blog-prev-2.jpg' alt='img-article')
            p
              | T&ocirc;i kh&ocirc;ng mu&#x1ED1;n l&agrave;m b&#x1EA1;n m&#x1EA5;t h&#x1EE9;ng, nh&#x1B0;ng b&#x1EA1;n s&#x1EBD; kh&ocirc;ng th&#x1EC3; th&agrave;nh th&#x1EA1;o ti&#x1EBF;ng T&acirc;y Ban Nha trong m&#x1ED9;t tu&#x1EA7;n hay th&#x1EAD;m ch&iacute; l&agrave; m&#x1ED9;t th&aacute;ng. Nh&#x1B0;ng b&#x1EA1;n c&oacute; th&#x1EC3; h&#x1ECD;c c&aacute;ch &dstrok;&#x1EBF;m t&#x1EDB;i 100 trong m&#x1ED9;t tu&#x1EA7;n v&agrave; ghi nh&#x1EDB; c&aacute;ch gh&eacute;p 10 &dstrok;&#x1ED9;ng t&#x1EEB; b&#x1EA5;t quy t&#x1EAF;c
              | trong 10 ng&agrave;y. M&#x1EE5;c ti&ecirc;u c&#x1EE7;a b&#x1EA1;n c&agrave;ng kh&#x1EA3; thi, b&#x1EA1;n c&agrave;ng d&#x1EC5; d&agrave;ng &dstrok;&#x1EA1;t &dstrok;&#x1B0;&#x1EE3;c ch&uacute;ng. Vi&#x1EC7;c n&agrave;y s&#x1EBD; khi&#x1EBF;n cho to&agrave;n b&#x1ED9; tr&#x1EA3;i nghi&#x1EC7;m c&#x1EE7;a b&#x1EA1;n tr&#x1EDF; n&ecirc;n d&#x1EC5; ch&#x1ECB;u h&#x1A1;n. N&#x1EBF;u b&#x1EA1;n chia c&aacute;c m&#x1EE5;c ti&ecirc;u ng&ocirc;n ng&#x1EEF; c&#x1EE7;a m&igrave;nh th&agrave;nh c&aacute;c b&#x1B0;&#x1EDB;c nh&#x1ECF; h&#x1A1;n, trong
              | nh&aacute;y m&#x1EAF;t ch&uacute;ng s&#x1EBD; tr&#x1EDF; th&agrave;nh m&#x1ED9;t ph&#x1EA7;n th&oacute;i quen h&agrave;ng ng&agrave;y c&#x1EE7;a b&#x1EA1;n, v&agrave; sau v&agrave;i tu&#x1EA7;n, b&#x1EA1;n s&#x1EBD; tranh th&#x1EE7; ho&agrave;n th&agrave;nh b&agrave;i t&#x1EAD;p v&#x1EC1; nh&agrave; m&ocirc;n Ti&#x1EBF;ng Trung c&#x1EE7;a m&igrave;nh trong th&#x1EDD;i gian &dstrok;i &dstrok;&#x1B0;&#x1EDD;ng ho&#x1EB7;c s&#x1EED; d&#x1EE5;ng m&agrave; th&#x1EAD;m ch&iacute; kh&ocirc;ng c&#x1EA7;n ph&#x1EA3;i suy
              | ngh&itilde; v&#x1EC1; n&oacute;.
            h3 2. H&atilde;y c&#x1EE5; th&#x1EC3;
            p
              | N&oacute;i r&#x1EB1;ng b&#x1EA1;n mu&#x1ED1;n h&#x1ECD;c Ti&#x1EBF;ng Anh &dstrok;&atilde; l&agrave; m&#x1ED9;t m&#x1EE5;c ti&ecirc;u tuy&#x1EC7;t v&#x1EDD;i, nh&#x1B0;ng n&oacute; s&#x1EBD; hi&#x1EC7;u qu&#x1EA3; h&#x1A1;n v&#x1EDB;i m&#x1ED9;t m&#x1EE5;c ti&ecirc;u c&#x1EE5; th&#x1EC3;. C&oacute; th&#x1EC3; t&#x1EEB; gi&#x1EDD; cho &dstrok;&#x1EBF;n cu&#x1ED1;i n&abreve;m b&#x1EA1;n mu&#x1ED1;n xem m&#x1ED9;t b&#x1ED9; phim M&#x1EF9; m&agrave; kh&ocirc;ng c&#x1EA7;n &dstrok;&#x1ECD;c ph&#x1EE5; &dstrok;&#x1EC1;, &dstrok;&#x1ECD;c m&#x1ED9;t cu&#x1ED1;n s&aacute;ch m&agrave; kh&ocirc;ng
              | c&#x1EA7;n d&ugrave;ng t&#x1EEB; &dstrok;i&#x1EC3;n. Hay du l&#x1ECB;ch t&#x1EDB;i London v&agrave; g&#x1ECD;i m&oacute;n khoai t&acirc;y chi&ecirc;n nh&#x1B0; m&#x1ED9;t ng&#x1B0;&#x1EDD;i Anh &dstrok;&iacute;ch th&#x1EF1;c? Nh&#x1EEF;ng m&#x1EE5;c ti&ecirc;u t&#x1ED1;t (v&agrave; b&#x1ED5; &iacute;ch) th&#x1B0;&#x1EDD;ng c&oacute; nh&#x1EEF;ng k&#x1EBF;t qu&#x1EA3; c&#x1EE5; th&#x1EC3;. V&igrave; v&#x1EAD;y h&atilde;y ch&#x1EAF;c r&#x1EB1;ng k&#x1EBF; ho&#x1EA1;ch h&#x1ECD;c ng&ocirc;n ng&#x1EEF; c&#x1EE7;a b&#x1EA1;n c&oacute; m&#x1ED9;t m&#x1EE5;c
              | ti&ecirc;u c&#x1EE5; th&#x1EC3; v&agrave; c&oacute; th&#x1EC3; &dstrok;&#x1B0;&#x1EE3;c chia ra th&agrave;nh nh&#x1EEF;ng b&#x1B0;&#x1EDB;c nh&#x1ECF;.
            h3 3. L&#x1EF1;a ch&#x1ECD;n m&#x1ED9;t ph&#x1B0;&#x1A1;ng ph&aacute;p
            img(src='assets/img/blog/eng-blog-prev-3.jpg' alt='img-article')
            p
              | Hi&#x1EC7;n nay c&oacute; r&#x1EA5;t nhi&#x1EC1;u c&ocirc;ng c&#x1EE5; h&#x1ECD;c ng&ocirc;n ng&#x1EEF; &ndash; c&aacute;c file &acirc;m thanh, podcast, &#x1EE9;ng d&#x1EE5;ng, c&aacute;c chuy&#x1EBF;n du h&#x1ECD;c ng&ocirc;n ng&#x1EEF;, h&#x1ECD;c &dstrok;&ocirc;i, v&agrave; t&#x1EA5;t nhi&ecirc;n l&agrave; c&#x1EA3; nh&#x1EEF;ng l&#x1EDB;p h&#x1ECD;c tr&#x1EF1;c tuy&#x1EBF;n v&agrave; ngo&#x1EA1;i tuy&#x1EBF;n. H&atilde;y ch&#x1EAF;c ch&#x1EAF;n trong vi&#x1EC7;c l&#x1EF1;a ch&#x1ECD;n m&#x1ED9;t ph&#x1B0;&#x1A1;ng
              | ph&aacute;p hi&#x1EC7;u qu&#x1EA3; nh&#x1EA5;t &dstrok;&#x1ED1;i v&#x1EDB;i b&#x1EA1;n. N&#x1EBF;u b&#x1EA1;n kh&ocirc;ng th&iacute;ch h&#x1ECD;c m&#x1ED9;t m&igrave;nh, c&aacute;c podcast c&oacute; th&#x1EC3; kh&ocirc;ng ph&#x1EA3;i l&agrave; ph&#x1B0;&#x1A1;ng ph&aacute;p ph&ugrave; h&#x1EE3;p nh&#x1EA5;t . Thay v&agrave;o &dstrok;&oacute;, h&atilde;y t&igrave;m m&#x1ED9;t ng&#x1B0;&#x1EDD;i b&#x1EA1;n h&#x1ECD;c &dstrok;&#x1ED3;ng h&agrave;nh ho&#x1EB7;c tham gia m&#x1ED9;t l&#x1EDB;p h&#x1ECD;c. Vi&#x1EC7;c l&#x1EF1;a ch&#x1ECD;n &dstrok;&#x1B0;&#x1EE3;c
              | m&#x1ED9;t ph&#x1B0;&#x1A1;ng ph&aacute;p ph&ugrave; h&#x1EE3;p hay m&#x1ED9;t nh&oacute;m k&#x1EBF;t h&#x1EE3;p c&aacute;c ph&#x1B0;&#x1A1;ng ph&aacute;p hi&#x1EC7;u qu&#x1EA3; s&#x1EBD; m&#x1EA5;t ch&uacute;t th&#x1EDD;i gian. Nh&#x1B0;ng &dstrok;&oacute; l&agrave; m&#x1ED9;t ph&#x1EA7;n c&#x1EE7;a tr&#x1EA3;i nghi&#x1EC7;m h&#x1ECD;c t&#x1EAD;p v&agrave; s&#x1EBD; gi&uacute;p b&#x1EA1;n &dstrok;&#x1EA1;t &dstrok;&#x1B0;&#x1EE3;c m&#x1EE5;c ti&ecirc;u c&#x1EE7;a m&igrave;nh.
            h3 4. L&#x1EAD;p k&#x1EBF; ho&#x1EA1;ch cho nh&#x1EEF;ng giai &dstrok;o&#x1EA1;n kh&oacute; kh&abreve;n
            p
              | S&#x1EBD; c&oacute; nh&#x1EEF;ng ng&agrave;y hay th&#x1EAD;m ch&iacute; l&agrave; nh&#x1EEF;ng tu&#x1EA7;n b&#x1EA1;n ch&#x1EB3;ng th&#x1EA5;y c&oacute; g&igrave; vui v&#x1EBB;, v&agrave; b&#x1EA1;n qu&aacute; b&#x1EAD;n r&#x1ED9;n v&#x1EDB;i vi&#x1EC7;c h&#x1ECD;c v&agrave; c&ocirc;ng vi&#x1EC7;c &ndash; ng&#x1EEF; ph&aacute;p Ti&#x1EBF;ng &Yacute; l&agrave; th&#x1EE9; cu&#x1ED1;i c&ugrave;ng xu&#x1EA5;t hi&#x1EC7;n trong t&acirc;m tr&iacute; b&#x1EA1;n, b&#x1EA5;t k&#x1EC3; b&#x1EA1;n c&oacute; mong mu&#x1ED1;n tuy&#x1EC7;t v&#x1ECD;ng ch&#x1EEB;ng
              | n&agrave;o &dstrok;&#x1B0;&#x1EE3;c t&#x1EDB;i Rome v&agrave; &abreve;n kem gelato trong khi &dstrok;ang chi&ecirc;m ng&#x1B0;&#x1EE1;ng &Dstrok;&#x1EA5;u tr&#x1B0;&#x1EDD;ng La M&atilde;. N&#x1EBF;u b&#x1EA1;n kh&ocirc;ng c&oacute; th&#x1EDD;i gian v&agrave; n&abreve;ng l&#x1B0;&#x1EE3;ng &dstrok;&#x1EC3; lo l&#x1EAF;ng v&#x1EC1; c&aacute;c t&iacute;nh t&#x1EEB; v&agrave; ph&oacute; t&#x1EEB; trong v&ograve;ng m&#x1ED9;t ho&#x1EB7;c hai tu&#x1EA7;n. &Dstrok;i&#x1EC1;u &dstrok;&oacute; ho&agrave;n to&agrave;n kh&ocirc;ng c&oacute; v&#x1EA5;n
              | &dstrok;&#x1EC1; g&igrave; c&#x1EA3;. &Dstrok;&#x1EEB;ng n&#x1EA3;n l&ograve;ng b&#x1EDF;i nh&#x1EEF;ng th&#x1EA5;t b&#x1EA1;i v&agrave; t&#x1EEB; b&#x1ECF; k&#x1EBF; ho&#x1EA1;ch c&#x1EE7;a b&#x1EA1;n. Thay v&agrave;o &dstrok;&oacute;, h&atilde;y t&#x1EF1; &ldquo;ph&#x1EE7;i b&#x1EE5;i&rdquo; b&#x1EA3;n th&acirc;n v&agrave; b&#x1EAF;t &dstrok;&#x1EA7;u t&#x1EEB; n&#x1A1;i m&agrave; b&#x1EA1;n &dstrok;&atilde; t&#x1EA1;m d&#x1EEB;ng. Sau c&ugrave;ng th&igrave;, th&agrave;nh Rome kh&ocirc;ng ch&#x1EC9; &dstrok;&#x1B0;&#x1EE3;c x&acirc;y d&#x1EF1;ng trong m&#x1ED9;t ng&agrave;y.
            h3 5. Gi&aacute;m s&aacute;t ti&#x1EBF;n &dstrok;&#x1ED9; c&#x1EE7;a b&#x1EA3;n th&acirc;n
            p
              | M&#x1EB7;c d&ugrave; c&aacute;c b&agrave;i ki&#x1EC3;m tra th&#x1EF1;c s&#x1EF1; kh&ocirc;ng th&uacute; v&#x1ECB; nhi&#x1EC1;u nh&#x1B0; v&#x1EAD;y. Nh&#x1B0;ng n&oacute; l&#x1EA1;i &dstrok;&oacute;ng vai tr&ograve; quan tr&#x1ECD;ng trong vi&#x1EC7;c theo d&otilde;i nh&#x1EEF;ng th&agrave;nh qu&#x1EA3; c&#x1EE7;a m&igrave;nh. R&#x1EA5;t nhi&#x1EC1;u &#x1EE9;ng d&#x1EE5;ng v&agrave; c&aacute;c l&#x1EDB;p h&#x1ECD;c c&oacute; nh&#x1EEF;ng b&agrave;i ki&#x1EC3;m tra t&iacute;ch h&#x1EE3;p m&agrave; b&#x1EA1;n c&#x1EA7;n ph&#x1EA3;i
              | v&#x1B0;&#x1EE3;t qua tr&#x1B0;&#x1EDB;c khi c&oacute; th&#x1EC3; ti&#x1EBF;p t&#x1EE5;c h&#x1ECD;c. Tuy nhi&ecirc;n c&utilde;ng c&oacute; nh&#x1EEF;ng b&agrave;i ki&#x1EC3;m tra tr&#x1EF1;c tuy&#x1EBF;n mi&#x1EC5;n ph&iacute; s&#x1EBD; gi&uacute;p b&#x1EA1;n &dstrok;&aacute;nh gi&aacute; &dstrok;&#x1B0;&#x1EE3;c tr&igrave;nh &dstrok;&#x1ED9; ng&ocirc;n ng&#x1EEF; c&#x1EE7;a b&#x1EA3;n th&acirc;n trong c&#x1EA3; qu&aacute; tr&igrave;nh.
            img(src='assets/img/blog/eng-blog-prev-4.jpg' alt='img-article')
            p
              | N&#x1EBF;u b&#x1EA1;n kh&ocirc;ng mu&#x1ED1;n b&#x1ECB; ki&#x1EC3;m tra, nh&#x1B0;ng v&#x1EAB;n x&aacute;c &dstrok;&#x1ECB;nh m&#x1EE5;c ti&ecirc;u ph&#x1EA3;i xem &dstrok;&#x1B0;&#x1EE3;c m&#x1ED9;t b&#x1ED9; phim m&agrave; kh&ocirc;ng c&#x1EA7;n &dstrok;&#x1ECD;c ph&#x1EE5; &dstrok;&#x1EC1;. H&atilde;y th&#x1EED; xem nh&#x1EEF;ng &dstrok;o&#x1EA1;n phim ng&#x1EAF;n h&#x1A1;n hay c&aacute;c phim ho&#x1EA1;t h&igrave;nh &dstrok;&#x1EC3; xem th&#x1EED; b&#x1EA1;n nghe hi&#x1EC3;u &dstrok;&#x1B0;&#x1EE3;c bao nhi&ecirc;u.
            h3 6. H&atilde;y n&oacute;i v&#x1EDB;i m&#x1ECD;i ng&#x1B0;&#x1EDD;i v&#x1EC1; m&#x1EE5;c ti&ecirc;u c&#x1EE7;a b&#x1EA1;n
            p
              | B&#x1EA1;n h&#x1ECD;c v&#x1EDB;i m&#x1ED9;t ng&#x1B0;&#x1EDD;i b&#x1EA1;n &dstrok;&#x1ED3;ng h&agrave;nh hay tham gia m&#x1ED9;t l&#x1EDB;p h&#x1ECD;c? B&#x1EA1;n s&#x1EBD; c&oacute; m&#x1ED9;t ch&uacute;t &aacute;p l&#x1EF1;c ph&#x1EA3;i ho&agrave;n th&agrave;nh b&agrave;i t&#x1EAD;p v&#x1EC1; nh&agrave;, nh&#x1B0;ng n&#x1EBF;u b&#x1EA1;n th&iacute;ch t&#x1EF1; h&#x1ECD;c? H&atilde;y ch&#x1EAF;c r&#x1EB1;ng b&#x1EA1;n n&oacute;i v&#x1EDB;i b&#x1EA1;n b&egrave;, gia &dstrok;&igrave;nh v&#x1EC1; c&aacute;c k&#x1EBF; ho&#x1EA1;ch c&#x1EE7;a m&igrave;nh. Nh&#x1B0; v&#x1EAD;y
              | b&#x1EA1;n c&oacute; th&#x1EC3; s&#x1EBD; c&oacute; tr&aacute;ch nhi&#x1EC7;m h&#x1A1;n. V&agrave; h&#x1ECD; c&oacute; th&#x1EC3; ki&#x1EC3;m tra v&agrave; gi&aacute;m s&aacute;t qu&aacute; tr&igrave;nh h&#x1ECD;c c&#x1EE7;a b&#x1EA1;n. Ph&#x1EA3;i th&#x1B0;&#x1EDD;ng xuy&ecirc;n chia s&#x1EBB; th&ocirc;ng tin c&#x1EAD;p nh&#x1EAD;t v&#x1EC1; c&aacute;c t&#x1EEB; v&#x1EF1;ng Ti&#x1EBF;ng &Dstrok;&#x1EE9;c c&#x1EE7;a b&#x1EA1;n s&#x1EBD; l&agrave; m&#x1ED9;t &dstrok;&#x1ED9;ng l&#x1EF1;c tuy&#x1EC7;t v&#x1EDD;i m&agrave; &dstrok;&ocirc;i khi b&#x1EA1;n c&#x1EA7;n t&#x1EDB;i.
            h3 7. H&atilde;y t&#x1EF1; th&#x1B0;&#x1EDF;ng cho b&#x1EA3;n th&acirc;n v&agrave; vui v&#x1EBB;
            p
              | Khi b&#x1EA1;n chia c&aacute;c m&#x1EE5;c ti&ecirc;u c&#x1EE7;a m&igrave;nh th&agrave;nh nh&#x1EEF;ng b&#x1B0;&#x1EDB;c nh&#x1ECF; h&#x1A1;n, b&#x1EA1;n s&#x1EBD; d&#x1EC5; d&agrave;ng theo d&otilde;i k&#x1EBF;t qu&#x1EA3; &ndash; v&agrave; &dstrok;o l&#x1B0;&#x1EDD;ng nh&#x1EEF;ng g&igrave; b&#x1EA1;n &dstrok;&atilde; &dstrok;&#x1EA1;t &dstrok;&#x1B0;&#x1EE3;c. M&#x1ED7;i khi b&#x1EA1;n &dstrok;&#x1EA1;t &dstrok;&#x1B0;&#x1EE3;c m&#x1ED9;t c&#x1ED9;t m&#x1ED1;c n&agrave;o &dstrok;&oacute;, h&atilde;y t&#x1EF1; th&#x1B0;&#x1EDF;ng cho b&#x1EA3;n th&acirc;n. C&oacute; th&#x1EC3; l&agrave; m&#x1ED9;t (ho&#x1EB7;c ba)
              | chi&#x1EBF;c b&aacute;nh ho&#x1EB7;c m&#x1ED9;t c&aacute;i &aacute;o m&#x1EDB;i cho chuy&#x1EBF;n du l&#x1ECB;ch n&#x1B0;&#x1EDB;c ngo&agrave;i s&#x1EAF;p t&#x1EDB;i. T&#x1EA5;t nhi&ecirc;n, b&#x1EA1;n c&utilde;ng c&oacute; th&#x1EC3; t&#x1EF1; ch&uacute;c m&#x1EEB;ng cho nh&#x1EEF;ng c&#x1EE5;m t&#x1EEB; Ti&#x1EBF;ng Nh&#x1EAD;t m&#x1EDB;i b&#x1EB1;ng c&aacute;ch t&#x1EDB;i m&#x1ED9;t nh&agrave; h&agrave;ng sushi v&agrave; luy&#x1EC7;n t&#x1EAD;p ch&uacute;ng trong h&#x1ED9;i tho&#x1EA1;i th&#x1EF1;c t&#x1EBF;?
            p(style='font-size: 16.5px; font-weight: 500; font-style: italic;')
              | Ok, th&#x1EF1;c s&#x1EF1; c&oacute; m&#x1ED9;t l&yacute; do kh&aacute;c r&#x1EB1;ng t&#x1EA1;i sao b&#x1EA1;n n&ecirc;n h&#x1ECD;c m&#x1ED9;t ng&ocirc;n ng&#x1EEF; m&#x1EDB;i trong n&abreve;m m&#x1EDB;i. &Dstrok;&oacute; l&agrave; m&#x1ED9;t trong nh&#x1EEF;ng m&#x1EE5;c ti&ecirc;u v&#x1EDB;i l&#x1ED1;i &dstrok;i t&#x1EAF;t th&uacute; v&#x1ECB; th&#x1EF1;c s&#x1EF1; c&oacute; hi&#x1EC7;u qu&#x1EA3;.
            h3 8. H&atilde;y th&#x1EF1;c hi&#x1EC7;n m&#x1ED9;t chuy&#x1EBF;n h&agrave;nh tr&igrave;nh (v&agrave; ra n&#x1B0;&#x1EDB;c ngo&agrave;i)
            img(src='assets/img/blog/eng-blog-prev-5.jpg' alt='img-article')
            p
              | B&#x1EA1;n mu&#x1ED1;n ti&#x1EBF;n nhanh h&#x1A1;n v&agrave; tr&#x1EA3;i nghi&#x1EC7;m t&#x1EA5;t c&#x1EA3; c&aacute;c si&ecirc;u n&abreve;ng l&#x1EF1;c &dstrok;&#x1B0;&#x1EE3;c nh&#x1EAF;c t&#x1EDB;i &#x1EDF; tr&ecirc;n g&#x1EA7;n nh&#x1B0; ngay l&#x1EAD;p t&#x1EE9;c? H&#x1ECD;c m&#x1ED9;t ng&ocirc;n ng&#x1EEF; m&agrave; b&#x1EA1;n l&#x1EF1;a ch&#x1ECD;n c&oacute; th&#x1EC3; l&agrave; m&#x1ED9;t k&#x1EBF; ho&#x1EA1;ch tuy&#x1EC7;t v&#x1EDD;i cho m&#x1ED9;t n&abreve;m m&#x1EDB;i. H&#x1ECD;c nh&#x1EEF;ng t&#x1EEB; m&#x1EDB;i v&agrave; t&igrave;m ra c&aacute;ch s&#x1EED;
              | d&#x1EE5;ng ng&#x1EEF; ph&aacute;p th&#x1EF1;c s&#x1EF1; th&uacute; v&#x1ECB; h&#x1A1;n. Trong khi &dstrok;ang &dstrok;i du l&#x1ECB;ch th&#x1EBF; gi&#x1EDB;i v&agrave; l&#x1EA5;p &dstrok;&#x1EA7;y h&#x1ED9; chi&#x1EBF;u c&#x1EE7;a b&#x1EA1;n v&#x1EDB;i nh&#x1EEF;ng d&#x1EA5;u nh&#x1EAD;p c&#x1EA3;nh m&#x1EDB;i. Ch&uacute;ng t&ocirc;i c&oacute; ch&uacute;t thi&ecirc;n v&#x1ECB;, nh&#x1B0;ng h&atilde;y th&#x1EF1;c t&#x1EBF;, c&aacute;c m&#x1EE5;c ti&ecirc;u kh&ocirc;ng th&#x1EC3; &dstrok;&#x1EA1;t &dstrok;&#x1B0;&#x1EE3;c t&#x1ED1;t h&#x1A1;n th&#x1EBF;.
            .article-full__bottom
              .article-full__tags
                div
                  i.fas.fa-tags
                  strong Related Tags
                span H&#x1ECC;C TI&#x1EBE;NG, M&#x1EB8;O H&#x1ECC;C TI&#x1EBE;NG, N&Abreve;M M&#x1EDA;I
              .article-full__share
                div
                  strong Share This
                  i.fas.fa-share-alt
                ul
                  li
                    a(href='#!')
                      i.fab.fa-twitter
                  li
                    a(href='#!')
                      i.fab.fa-facebook-f
                  li
                    a(href='#!')
                      i.fab.fa-google-plus-g
                  li
                    a(href='#!')
                      i.fab.fa-pinterest-p
            .article-full__nav
              ul.articles-nav-list
                li.articles-nav-item
                  a.articles-nav-item__link(href='page-blog-article.html')
                    .articles-nav-item__img
                      img(src='assets/img/blog/eng-blog-1.jpg' alt='article-thumb')
                    .articles-nav-item__info
                      .articles-nav-item__title 9 l&yacute; do ti&#x1EBF;ng Anh l&agrave; ng&ocirc;n ng&#x1EEF; ph&#x1ED5; bi&#x1EBF;n nh&#x1EA5;t
                      .articles-nav-item__user
                        i.fas.fa-user
                        span By Tom
                  .articles-nav-item__label Prev Post
                li.articles-nav-item
                  a.articles-nav-item__link(href='page-blog-article - Next.html')
                    .articles-nav-item__img
                      img(src='assets/img/blog/eng-blog-next-1.jpg' alt='article-thumb')
                    .articles-nav-item__info
                      .articles-nav-item__title 5 l&yacute; do ti&#x1EBF;ng Anh &ndash; Anh kh&aacute;c Anh &ndash; M&#x1EF9; du h&#x1ECD;c sinh c&#x1EA7;n bi&#x1EBF;t
                      .articles-nav-item__user
                        i.fas.fa-user
                        span By Tom
                  .articles-nav-item__label Next Post
  footer.page-footer(style='background-color: #FCF7F7;')
    .page-footer__top
      .uk-container
        .page-footer__logo
          .logo
            a.logo__link(href='/home')
              img.logo__img(src='assets/img/logo.png' alt='logo')
        .page-footer__contacts
          .contact-item-box
            .contact-item-box__title &Dstrok;&#x1ECB;a ch&#x1EC9; 
            .contact-item-box__value
              | 38C - 39C, qu&#x1ED1;c l&#x1ED9; 1A,
              br
              |  T&acirc;n Th&#x1EDB;i Hi&#x1EC7;p, Qu&#x1EAD;n 12, Tp.HCM
          .contact-item-box
            .contact-item-box__title M&#x1EDF; c&#x1EED;a
            .contact-item-box__value
              | Th&#x1EE9; 2 - Th&#x1EE9; 7: 10:00 AM &ndash; 11:30 PM
              br
              |  Ch&#x1EE7; nh&#x1EAD;t: 9:00 AM &ndash; 4:00 PM
          .contact-item-box
            .contact-item-box__title Li&ecirc;n h&#x1EC7;
            .contact-item-box__value
              | Email: 
              a(href='mailto:cloudythy@gmail.com') t2e@gmail.com
              br
              |  &Dstrok;i&#x1EC7;n tho&#x1EA1;i:
              a(href='tel:0394143031')  0394143031
    .page-footer__middle
      .uk-container
        ul.uk-navbar-nav
          li
            a(href='/') Trang ch&#x1EE7;
          li
            a(href='/catalog') Kh&oacute;a h&#x1ECD;c
          li
            a(href='/branch') Chi nh&aacute;nh
          li
            a(href='/branch') V&#x1EC1; ch&uacute;ng t&ocirc;i
          li
            a(href='/blog') Tin t&#x1EE9;c
          li
            a(href='/contact') Li&ecirc;n h&#x1EC7;
    .page-footer__bottom
      .uk-container
        .page-footer__social
          ul.social
            li.social-item
              a.social-link(href='#!')
                i.fab.fa-twitter
            li.social-item
              a.social-link(href='#!')
                i.fab.fa-facebook-f
            li.social-item
              a.social-link(href='#!')
                i.fab.fa-linkedin-in
            li.social-item
              a.social-link(href='#!')
                i.fab.fa-google-plus-g
            li.social-item
              a.social-link(href='#!')
                i.fab.fa-youtube
        .page-footer__copy
          span &copy;2018 t2e
          a(href='#!') Terms and Conditions
    #offcanvas(data-uk-offcanvas='overlay: true')
      .uk-offcanvas-bar
        button.uk-offcanvas-close(type='button' data-uk-close='')
        .uk-margin-top
          ul.uk-nav
            li
              a(href='/') Trang ch&#x1EE7;
            li
              a(href='/catalogs') Kh&oacute;a h&#x1ECD;c
            li
              a(href='/branch') Chi nh&aacute;nh
            li
              a(href='/home#about_us') V&#x1EC1; ch&uacute;ng t&ocirc;i
            li
              a(href='/blog') Tin t&#x1EE9;c
            li
              a(href='/contact') Li&ecirc;n h&#x1EC7;
        hr.uk-margin
        ul.uk-nav.uk-nav-parent-icon(data-uk-nav='')
          li.uk-parent
            a(href='/catalog') Kh&oacute;a thi&#x1EBF;u nhi
          li.uk-parent
            a(href='/catalog') Kh&oacute;a thi&#x1EBF;u ni&ecirc;n
          li.uk-parent
            a(href='/catalog') Kh&oacute;a &ocirc;n thi
          li.uk-parent
            a(href='/catalog') Kh&oacute;a k&#x1EF9; n&abreve;ng
        hr.uk-margin
        .uk-margin-bottom
          .block-with-phone
            img(src='assets/img/icons/delivery.svg' alt='delivery' data-uk-svg='')
            div
              span Li&ecirc;n h&#x1EC7; ngay v&#x1EDB;i ch&uacute;ng t&ocirc;i
              a(href='tel:13205448749') 0394143031
    #callback.uk-flex-top(data-uk-modal='')
      .uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical
        button.uk-modal-close-default(type='button' data-uk-close='')
        p
    #modal-full.uk-modal-full.uk-modal(data-uk-modal='')
      .uk-modal-dialog.uk-flex.uk-flex-center.uk-flex-middle(data-uk-height-viewport='')
        button.uk-modal-close-full(type='button' data-uk-close='')
        form.uk-search.uk-search-large
          input.uk-search-input.uk-text-center(type='search' placeholder='Search...' autofocus='')
script(src='assets/js/jquery.min.js')
script(src='assets/js/uikit.min.js')
script(src='assets/js/uikit-icons.min.js')
script(src='assets/js/main.js')
script(src='assets/js/fontawesome.all.min.js')
