<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Chi tiết khóa học</title>
    <meta content="Chernyh Mihail" name="author">
    <meta content="Spedito - All in one place" name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="true">
    <meta name="format-detection" content="telephone=no">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <link rel="shortcut icon" href="assets/img/logoW.png" type="image/x-icon">
    <link rel="stylesheet" href="assets/css/uikit.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <!-- <link rel="stylesheet" href="assets/css/dropdown.css"> -->
    <link id="dm-light" rel="stylesheet" href="assets/css/light.css">
</head>

<body class="page-product dm-light">

    <!-- Loader-->
    <div id="page-preloader"><span class="spinner border-t_second_b border-t_prim_a"></span></div>
    <!-- Loader end-->

    <div class="page-wrapper">
        <header class="page-header">
            <div class="page-header__top">
                <div class="uk-container">
                    <nav class="uk-navbar-container uk-navbar-transparent" data-uk-navbar="">
                        <div class="uk-navbar-left"><button class="uk-button" type="button" data-target="#offcanvas" data-uk-toggle data-uk-icon="menu"></button>
                            <ul class="uk-navbar-nav">
                                <li><a href="/home">TRANG CHỦ</a></li>
                                <li><a href="/catalog">KHÓA HỌC</a></li>
                                <li><a href="/branch">CHI NHÁNH</a></li>
                            </ul>
                        </div>
                        <div class="uk-navbar-center">
                            <div class="logo">
                                <div class="logo__box">
                                    <a href="/home">
                                        <img class="logo__img logo__img--full" src="assets/img/logo.png" alt="logo">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="uk-navbar-right">
                            <ul class="uk-navbar-nav">
                                <li><a href="/home#about_us">VỀ CHÚNG TÔI</a></li>
                                <li><a href="/blog">TIN TỨC</a></li>
                                <li><a href="/contact">LIÊN HỆ</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="page-header__bottom">
                <div class="uk-container">
                    <div class="uk-navbar-container uk-navbar-transparent" data-uk-navbar="">
                        <div class="uk-navbar-left">
                            <div>
                                <div class="block-with-phone"><img src="assets/img/icons/delivery.svg" alt="delivery" data-uk-svg>
                                    <div> <span>Liên hệ ngay với chúng tôi</span><a href="tel:13205448749">0394143031</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="uk-navbar-center"></div>
                        <div class="uk-navbar-right">
                            <div class="other-links">
                                <ul class="other-links-list">
                                    <li><a href="#modal-full" data-uk-toggle><span data-uk-icon="search"></span></a></li>
                                    <li><a href="/login"><span data-uk-icon="user"></span></a></li>
                                    <li><a href="#"><span data-uk-icon="cart"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="page-main">
            <div class="section-first-screen">
                <div class="first-screen__bg" style="background-image: url(assets/img/pages/contacts/bg26.jpg)"></div>
                <div class="first-screen__content">
                    <div class="uk-container">
                        <nav class="category-nav">
                            <nav class="uk-navbar-container uk-navbar-transparent" data-uk-navbar>
                                <ul class="uk-navbar-nav">
                                    <li>
                                        <a href="/catalog">
                                            <div class="nav-item"><span class="nav-item__icon"><img src="assets/img/icons/menu/thieunhi.png" alt="face care" data-uk-svg></span><span class="nav-item__text">Khóa thiếu nhi</span></div>
                                        </a>
                                        <li>
                                            <a href="/catalog">
                                                <div class="nav-item"><span class="nav-item__icon"><img src="assets/img/icons/menu/thieunien.png" alt="hair care" data-uk-svg></span><span class="nav-item__text">Khóa thiếu niên</span></div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/catalog">
                                                <div class="nav-item"><span class="nav-item__icon"><img src="assets/img/icons/menu/onthi.png" alt="lips care" data-uk-svg></span><span class="nav-item__text">Khóa ôn thi</span></div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/catalog">
                                                <div class="nav-item"><span class="nav-item__icon"><img src="assets/img/icons/menu/kynang.png" alt="body care" data-uk-svg></span><span class="nav-item__text">Khóa kỹ năng</span></div>
                                            </a>
                                        </li>
                                </ul>
                            </nav>
                        </nav>
                        <div class="first-screen__box">
                            <h2 class="first-screen__title">Course Details</h2>
                            <div class="first-screen__breadcrumb">
                                <ul class="uk-breadcrumb">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/catalog">Course</a></li>
                                    <li><span>Course Details</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-content">
                <div class="uk-margin-large-top uk-container">
                    <div class="product-full-card">
                        <div class="uk-grid uk-grid-large uk-child-width-1-2@m uk-flex-middle" data-uk-grid>
                            <div>
                                <div class="product-full-card__gallery">
                                    <div data-uk-slideshow="ratio: 1:1; animation: slide">
                                        <div class="product-full-card__gallery-box">
                                            <ul class="uk-slideshow-items uk-child-width-1-1">
                                                <li class="uk-flex uk-flex-center uk-flex-middle"><img src="assets/img/catalog/KN001.jpeg" alt="KN001"></li>
                                            </ul>
                                            <div class="product-full-card__whish"><i class="fas fa-heart"></i></div>
                                            <div class="product-full-card__type spicy"></div>
                                            <div class="product-full-card__tooltip" data-uk-tooltip="title: Khóa kỹ năng; pos: bottom-right"><i class="fas fa-info-circle"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="product-full-card__content">
                                    <div class="product-full-card__not-active">
                                        <div class="product-full-card__title" style="font-size: 30px;">Anh Ngữ Ứng Dụng English Hub</div>
                                        <div class="product-full-card__desc" style="height: 80px; margin-top: 30px;">Giá trị cốt lõi của English Hub là giáo trình cân bằng 4 kỹ năng Anh ngữ với kết quả học tập rõ ràng thông qua các bài học chủ đề thú vị và ngôn ngữ được trình bày bằng video đậm chất "giải trí".</div>
                                        <div class="product-full-card__select" style="height: 180px;">
                                            <div class="select-box">
                                                <ul>
                                                    <li><label style="margin-left: 8px;"><span>30 người/lớp</span></label></li>
                                                    <li><label><span>Opening</span></label></li>

                                                </ul>
                                            </div>
                                            <div class="select-box">
                                                <ul>
                                                    <li><label><span>Thời lượng: 12 tuần</span></label></li>
                                                </ul>
                                            </div>
                                            <div class="select-box">
                                                <ul>
                                                    <li><label><span>Yêu cầu (IELTS): không</span></label></li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-full-card__info">
                                    <div class="product-full-card__price"> <span>Học Phí: </span><span class="value">10.000.000</span></div>
                                    <div class="product-full-card__btns"><a class="uk-button" href="#Class_list">ĐĂNG KÝ NGAY</a><a class="uk-button" style="margin-left: 10px; background-color: grey;" href="https://www.efset.org/vi/" target="_blank" rel="noopener noreferrer">KIỂM TRA TRÌNH ĐỘ</a></div>
                                </div>
                                <div class="product-full-card__category"><span>Phân loại:  </span><a href="#!">Khóa kỹ năng</a></div>
                                <div class="product-full-card__share"><span>Share This:</span>
                                    <ul>
                                        <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#!"><i class="fab fa-google-plus-g"></i></a></li>
                                        <li><a href="#!"><i class="fab fa-pinterest-p"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="product-full-card__tabs">
                            <a id="Class_list"></a>
                            <ul class="uk-subnav" data-uk-switcher="animation: uk-animation-slide-left-medium, uk-animation-slide-right-medium">
                                <li><a href="#">Danh sách lớp mở</a></li>
                                <li><a href="#">Thông tin thêm</a></li>
                                <li><a href="#">Đánh giá</a></li>
                            </ul>
                            <ul class="uk-switcher uk-margin">
                                <li>
                                    <div class="uk-grid uk-grid-divider" data-uk-grid-match>
                                        <div class="uk-width-2-3">
                                            <div class="uk-overflow-auto">
                                                <table class="uk-table uk-table-striped uk-table-hover">
                                                    <thead style="font-weight: 700;">
                                                        <tr>
                                                            <td align="center">Mã Lớp học</td>
                                                            <td align="center">Ngày bắt đầu</td>
                                                            <td align="center">Ngày kết thúc</td>
                                                            <td align="center">Sĩ số</td>
                                                            <td align="center">Chi nhánh</td>
                                                            <td align="center">Xem TKB</td>
                                                            <td align="center">Đăng ký</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td align="center">KN001_L01</td>
                                                            <td align="center">2021-09-27 15:00:00</td>
                                                            <td align="center">2021-12-19 15:00:00</td>
                                                            <td align="center">7</td>
                                                            <td align="center">T2E Lê Văn Lương</td>
                                                            <td align="center">
                                                                <input id="toggleVisibilityButton" class="uk-button uk-button-default" type="button" value="XemTKB" />
                                                            </td>
                                                            <td align="center"><a class="uk-button uk-button-default" href="/login">Đăngký<img class="uk-margin-small-left"></a></td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center">KN001_L02</td>
                                                            <td align="center">2020-09-27 15:00:00</td>
                                                            <td align="center">2020-12-19 15:00:00</td>
                                                            <td align="center">5</td>
                                                            <td align="center">T2E CMT8</td>
                                                            <td align="center">
                                                                <input id="toggleVisibilityButton2" class="uk-button uk-button-default" type="button" value="XemTKB" />
                                                            </td>
                                                            <td align="center"><a class="uk-button uk-button-default" href="/login">Đăngký<img class="uk-margin-small-left"></a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="uk-width-1-3">
                                            <div class="uk-overflow-auto">
                                                <table id="displaytable" style="display:none" class="uk-table uk-table-striped">
                                                    <thead style="font-weight: 700;">
                                                        <tr>
                                                            <td align="center">Thứ</td>
                                                            <td class="uk-table-small" align="center">Giờ bắt đầu</td>
                                                            <td class="uk-table-small" align="center">Giờ kết thúc</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td align="center">3</td>
                                                            <td align="center">17h</td>
                                                            <td align="center">19h</td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center">5</td>
                                                            <td align="center">17h</td>
                                                            <td align="center">19h</td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center">7</td>
                                                            <td align="center">17h</td>
                                                            <td align="center">19h</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table id="displaytable2" style="display:none;margin-top: 0;padding:0;" class="uk-table uk-table-striped">
                                                    <thead style="font-weight: 700;">
                                                        <tr>
                                                            <td align="center">Thứ</td>
                                                            <td class="uk-table-small" align="center">Giờ bắt đầu</td>
                                                            <td class="uk-table-small" align="center">Giờ kết thúc</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td align="center">2</td>
                                                            <td align="center">17h</td>
                                                            <td align="center">19h</td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center">4</td>
                                                            <td align="center">17h</td>
                                                            <td align="center">19h</td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center">6</td>
                                                            <td align="center">17h</td>
                                                            <td align="center">19h</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="uk-overflow-auto">
                                        <div class="section-title">
                                            <div class="uk-h2">Danh sách giáo trình được sử dụng</div>
                                        </div>
                                        <table class="uk-table uk-table-divider uk-table-hover">
                                            <thead>
                                                <tr style="font-weight: 700;">
                                                    <!-- <th class="uk-table-shrink">Mã Giáo trình</th> -->
                                                    <th class="uk-width-1-1">Tên giáo trình</th>
                                                    <th class="uk-width-1-1">Năm xuất bản</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <!-- <td>KN001_GT01</td> -->
                                                    <td>Tài liệu độc quyền</td>
                                                    <td>2021</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="uk-grid uk-grid-divider" data-uk-grid-match>
                                        <div class="uk-width-1-1">
                                            <div class="uk-overflow-auto">
                                                <div class="section-title">
                                                    <div class="uk-h2">Danh sách giáo viên tham gia giảng dạy</div>
                                                </div>
                                                <table class="uk-table uk-table-divider uk-table-hover">
                                                    <thead>
                                                        <tr>
                                                            <!-- <th class="uk-table-shrink">Mã Giáo trình</th> -->
                                                            <th class="uk-table-expand">Tên</th>
                                                            <th class="uk-width-small">Kinh nghiệm</th>
                                                            <th class="uk-table-shrink">Trình độ</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Nguyễn Huyền Trang</td>
                                                            <td>7 năm</td>
                                                            <td>Thạc sĩ Ngôn ngữ học</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="uk-width-1-1">
                                            <div class="uk-overflow-auto">
                                                <div class="section-title">
                                                    <div class="uk-h2">Danh sách trợ giảng tham gia hỗ trợ</div>
                                                </div>
                                                <table class="uk-table uk-table-divider uk-table-hover">
                                                    <thead>
                                                        <tr>
                                                            <!-- <th class="uk-table-shrink">Mã Giáo trình</th> -->
                                                            <th class="uk-table-expand">Tên</th>
                                                            <th class="uk-width-small">Kinh nghiệm</th>
                                                            <th class="uk-table-shrink">Trình độ</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Bùi Công Anh Tùng</td>
                                                            <td>12 lớp</td>
                                                            <td>IELST 7.0</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="section-title">
                                        <div class="uk-h2">Đánh giá</div>
                                    </div>
                                    <ul class="uk-comment-list">
                                        <li>
                                            <article class="uk-comment">
                                                <header class="uk-comment-header">
                                                    <div class="uk-grid-small uk-grid-divider" data-uk-grid>
                                                        <div class="uk-width-auto@s"><img class="uk-comment-avatar" src="./assets/img/blog/img-reviews-1.png" alt></div>
                                                        <div class="uk-width-expand@s">
                                                            <div class="uk-flex uk-flex-middle uk-margin-small-bottom">
                                                                <h4 class="uk-comment-title uk-margin-remove">Lê Văn Đông</h4><span class="uk-text-meta uk-margin-small-left">August 20, 2021</span>
                                                            </div>
                                                            <div class="uk-comment-body">
                                                                <p>Khóa học giúp tôi tự tin hơn trong giao tiếp hằng ngày, giúp tôi tiếp xúc với người nước ngoài không còn bị ấp úng.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </header>
                                            </article>
                                        </li>
                                        <li>
                                            <article class="uk-comment">
                                                <header class="uk-comment-header">
                                                    <div class="uk-grid-small uk-grid-divider" data-uk-grid>
                                                        <div class="uk-width-auto@s"><img class="uk-comment-avatar" src="./assets/img/blog/img-reviews-2.png" alt></div>
                                                        <div class="uk-width-expand@s">
                                                            <div class="uk-flex uk-flex-middle uk-margin-small-bottom">
                                                                <h4 class="uk-comment-title uk-margin-remove">Lê Trần Hoàng Thịnh</h4><span class="uk-text-meta uk-margin-small-left">August 20, 2020</span>
                                                            </div>
                                                            <div class="uk-comment-body">
                                                                <p>Sau khi học khóa học này, em thấy kỹ năng thuyết trình và nói trước đám đông khi dùng ngoại ngữ của mình được cải thiện nhiều. Các bạn hòa đồng và thầy cô cũng thân thiện.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </header>
                                            </article>
                                        </li>
                                    </ul>
                                    <div class="block-form uk-margin-medium-top">
                                        <div class="section-title">
                                            <div class="uk-h2">Để lại đánh giá</div>
                                        </div>
                                        <div class="section-content">
                                            <p>Câu trả lời của bạn sẽ xuất hiện sau khi được xét duyệt, thông tin cá nhân sẽ được bảo mật. Những mục bắt buộc được đánh dấu *</p>
                                            <form action="#!">
                                                <div class="uk-grid uk-grid-small uk-child-width-1-2@s" data-uk-grid>
                                                    <div><input class="uk-input uk-form-large" type="text" placeholder="Your Name *"></div>
                                                    <div><input class="uk-input uk-form-large" type="text" placeholder="Email *"></div>
                                                    <div class="uk-width-1-1"><textarea class="uk-textarea uk-form-large" placeholder="Reviews *"></textarea></div>
                                                    <div><button class="uk-button uk-button-large" type="submit">Gửi đánh giá</button></div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="page-footer" style="background-color: #FCF7F7;">
            <div class="page-footer__top">
                <div class="uk-container">
                    <div class="page-footer__logo">
                        <div class="logo">
                            <a class="logo__link" href="/home"><img class="logo__img" src="assets/img/logo.png" alt="logo"></a>
                        </div>
                    </div>
                    <div class="page-footer__contacts">
                        <div class="contact-item-box">
                            <div class="contact-item-box__title">Địa chỉ </div>
                            <div class="contact-item-box__value">38C - 39C, quốc lộ 1A,<br> Tân Thới Hiệp, Quận 12, Tp.HCM</div>
                        </div>
                        <div class="contact-item-box">
                            <div class="contact-item-box__title">Mở cửa</div>
                            <div class="contact-item-box__value">Thứ 2 - Thứ 7: 10:00 AM – 11:30 PM<br> Chủ nhật: 9:00 AM – 4:00 PM</div>
                        </div>
                        <div class="contact-item-box">
                            <div class="contact-item-box__title">Liên hệ</div>
                            <div class="contact-item-box__value">Email: <a href="mailto:cloudythy@gmail.com">t2e@gmail.com</a><br> Điện thoại:<a href="tel:0394143031"> 0394143031</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-footer__middle">
                <div class="uk-container">
                    <ul class="uk-navbar-nav">
                        <li><a href="/">Trang chủ</a></li>
                        <li><a href="/catalog">Khóa học</a></li>
                        <li><a href="/branch">Chi nhánh</a></li>
                        <li><a href="/branch">Về chúng tôi</a></li>
                        <li><a href="/blog">Tin tức</a></li>
                        <li><a href="/contact">Liên hệ</a></li>
                    </ul>
                </div>
            </div>
            <div class="page-footer__bottom">
                <div class="uk-container">
                    <div class="page-footer__social">
                        <ul class="social">
                            <li class="social-item"><a class="social-link" href="#!"><i class="fab fa-twitter"></i></a></li>
                            <li class="social-item"><a class="social-link" href="#!"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="social-item"><a class="social-link" href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                            <li class="social-item"><a class="social-link" href="#!"><i class="fab fa-google-plus-g"></i></a></li>
                            <li class="social-item"><a class="social-link" href="#!"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                    <div class="page-footer__copy"><span>©2018 t2e</span><a href="#!">Terms and Conditions</a></div>
                </div>
            </div>
            <div id="offcanvas" data-uk-offcanvas="overlay: true">
                <div class="uk-offcanvas-bar"><button class="uk-offcanvas-close" type="button" data-uk-close=""></button>
                    <div class="uk-margin-top">
                        <ul class="uk-nav">
                            <li><a href="/">Trang chủ</a></li>
                            <li><a href="/catalogs">Khóa học</a></li>
                            <li><a href="/branch">Chi nhánh</a></li>
                            <li><a href="/home#about_us">Về chúng tôi</a></li>
                            <li><a href="/blog">Tin tức</a></li>
                            <li><a href="/contact">Liên hệ</a></li>
                        </ul>
                    </div>
                    <hr class="uk-margin">
                    <ul class="uk-nav uk-nav-parent-icon" data-uk-nav>
                        <li class="uk-parent"><a href="/catalog">Khóa thiếu nhi</a>
                        </li>

                        <li class="uk-parent"><a href="/catalog">Khóa thiếu niên</a>
                        </li>

                        <li class="uk-parent"><a href="/catalog">Khóa ôn thi</a>
                        </li>

                        <li class="uk-parent"><a href="/catalog">Khóa kỹ năng</a>
                        </li>
                    </ul>
                    <hr class="uk-margin">
                    <div class="uk-margin-bottom">
                        <div class="block-with-phone"><img src="assets/img/icons/delivery.svg" alt="delivery" data-uk-svg>
                            <div> <span>Liên hệ ngay với chúng tôi</span><a href="tel:13205448749">0394143031</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-flex-top" id="callback" data-uk-modal="">
                <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical"><button class="uk-modal-close-default" type="button" data-uk-close=""></button>
                    <p></p>
                </div>
            </div>
            <div class="uk-modal-full uk-modal" id="modal-full" data-uk-modal>
                <div class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle" data-uk-height-viewport><button class="uk-modal-close-full" type="button" data-uk-close></button>
                    <form class="uk-search uk-search-large"><input class="uk-search-input uk-text-center" type="search" placeholder="Search..." autofocus></form>
                </div>
            </div>
        </footer>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/uikit.min.js"></script>
    <script src="assets/js/uikit-icons.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/fontawesome.all.min.js"></script>
    <script src="assets/js/cart-process.js"></script>
    <script src="assets/js/khoahoc-btn.js"></script>
</body>

</html>